In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
from sklearn.model_selection import train_test_split
%matplotlib inline

In [4]:
df = pd.read_csv("CO2 Emission Canada.csv")

# take a look at the dataset
df.head()

,Model year,Make,Model,Vehicle class,Engine size (L),Cylinders,Transmission,Fuel type,City (L/100 km),Highway (L/100 km),Combined (L/100 km),Combined (mpg),CO2 emissions (g/km),CO2 rating,Smog rating
0,2024,Acura,Integra A-SPEC,Full-size,1.5,4,AV7,Z,8.1,6.5,7.4,38,172,6,7
1,2024,Acura,Integra A-SPEC,Full-size,1.5,4,M6,Z,8.9,6.5,7.8,36,181,6,6
2,2024,Acura,Integra Type S,Full-size,2.0,4,M6,Z,11.1,8.3,9.9,29,230,5,6
3,2024,Acura,MDX SH-AWD,Sport utility vehicle: Small,3.5,6,AS10,Z,12.6,9.4,11.2,25,263,4,5
4,2024,Acura,MDX SH-AWD Type S,Sport utility vehicle: Standard,3.0,6,AS10,Z,13.8,11.2,12.4,23,291,4,5

In [5]:
# Drop unnecessary columns
df.drop(columns=['Model year', 'Make', 'Model', 'Vehicle class', 'CO2 rating', 'Smog rating'], inplace=True)

# Rename colums
df = df.rename(columns={
    'Engine size (L)': 'ENGINESIZE',
    'Cylinders': 'CYLINDERS',
    'City (L/100 km)': 'CITY',
    'Highway (L/100 km)': 'HIGHWAY',
    'Combined (L/100 km)': 'COMBINED',
    'Combined (mpg)': 'COMBINED_MPG',
    'Transmission': 'TRANSMISSION',
    'Fuel type': 'FUELTYPE',
    'CO2 emissions (g/km)': 'CO2EMISSIONS'})

In [6]:
# Perform one-hot encoding
df = pd.get_dummies(df, columns=['TRANSMISSION', 'FUELTYPE'])

bool_columns = df.select_dtypes(include=['bool']).columns

# Convert only boolean columns to integers (0/1)
df[bool_columns] = df[bool_columns].astype(int)

In [7]:
X = df.drop(columns=['CO2EMISSIONS'])
y = df['CO2EMISSIONS']

# Train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=7)

X_train.head()

,ENGINESIZE,CYLINDERS,CITY,HIGHWAY,COMBINED,COMBINED_MPG,TRANSMISSION_A10,TRANSMISSION_A6,TRANSMISSION_A8,TRANSMISSION_A9,...,TRANSMISSION_AV6,TRANSMISSION_AV7,TRANSMISSION_AV8,TRANSMISSION_M5,TRANSMISSION_M6,TRANSMISSION_M7,FUELTYPE_D,FUELTYPE_E,FUELTYPE_X,FUELTYPE_Z
289,5.3,8,14.8,11.7,13.4,21,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
328,1.5,4,8.7,6.4,7.7,37,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
394,3.6,6,13.9,10.2,12.2,23,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
321,1.5,4,7.7,6.3,7.1,40,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
326,2.0,4,7.7,6.0,6.9,41,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0